img {
  width: 100vw;
}

#summaryCont {
  display: flex;
  margin-inline: 12.5%;
  margin-top: 5em;
}

.summaryBox {
  flex-basis: 0;
  flex-grow: 1;
}

.summaryBox p {
  font-size: 1.2em;
  padding-right: 5em;
}

#quickFacts {
  color: white;
  background-color: #277ab2;
  border-radius: 30px;

  max-width: 350px;
}

.facts {
  display: flex;
  justify-content: end;
  align-items: center;

  padding-right: 2em;
}

.facts i {
  padding-left: 1em;
}

#imagesCont {
  margin-top: 5em;
  display: flex;
}

.imageBox {
  width: 100vw;
}

.imageBox img {
  width: 100%;
}
