body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

#hero {
  text-align: center;
}

img {
  width: 100vw;
}

.navClass {
  margin: 0;
  padding: 0;
  margin-top: 3em;
  margin-bottom: 3em;

  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

.navLink {
  text-decoration: none;
  font-size: 1.2rem;

  display: flex;
  flex-direction: column;
  margin-inline: 2em;
}

.navLink:hover {
  color: green;
}

#summaryCont {
  display: flex;
  margin-inline: 12.5%;
  margin-top: 5em;
}

.summaryBox {
  flex-basis: 0;
  flex-grow: 1;
}

.summaryBox p {
  font-size: 1.2em;
  padding-right: 5em;
}

#quickFacts {
  color: white;
  background-color: #277ab2;
  border-radius: 30px;

  max-width: 350px;
}

.facts {
  display: flex;
  justify-content: end;
  align-items: center;

  padding-right: 2em;
}

.facts i {
  padding-left: 1em;
}

#imagesCont {
  margin-top: 5em;
  display: flex;
}

.imageBox {
  width: 100vw;
}

.imageBox img {
  width: 100%;
}
