body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

h1,
h2 {
  margin-top: 0;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  font-size: 1.2em;
  color: #333;
  padding: 10px;
  display: block;
  transition: background-color 0.3s;
}

nav .fa-solid {
  padding-right: 0.7em;
}

nav a:hover {
  background-color: #d1ebff; /* Slightly darker blue for hover effect */
}

#hero {
  padding: 20px 0;
  text-align: center;
}

.navClass {
  display: flex;
  justify-content: center;
  gap: 15px;
}
